*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.app-container {
    width: 500px;
    height: 510px;
    border: 2px solid black;
    margin: 12px;
    display: flex;
    flex-direction: column;
    background-color: grey;

}

.expression-screen {
    display: flex;
    align-self: center;
    padding: 24px;
    background-color: grey;
   
}

input {
    width: 300px;
    height: 48px;
    padding: 12px;
}

.buttons {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(149, 149, 151);
    flex: 1;
    
}

button.operation:hover {
    background-color: rgb(57, 219, 165);
    color: whitesmoke;
    
}

button.numbers:hover {
    background-color: rgb(236, 110, 110);
    color: white;
}

button.clear-input:hover {
    background-color: rgb(10, 1, 1);
    color: red;
}

button {
    width: 81px;
    padding: 18px;
    margin: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 800;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

